.p-container{
    display: flex;
    
}

.p-container_title{
    padding: 0;
    margin: 0 200px;
    writing-mode: vertical-rl;
    letter-spacing : 12px;

    font-size: 36px;
}

.p-container_text{
    margin-top: 80px;
    font-size: 14px;
    letter-spacing : 2px;
    line-height:1.5;
}