.l-header{
    display: flex;
    justify-content: space-between;
    height: 140px;
    margin: 0 40px;
    align-items: center;
}

.p-header_logo{

    text-align: center;
}

.p-headar_title{
    font-weight: lighter;
    margin: 0 auto;
    font-family: '游明朝体+36ポかな','YuMincho +36p Kana',sans-serif;

}
.p-headar_subtatle{

    font-family: 'Avenir Next',sans-serif;
    font-size: 10px;
    margin: 0 auto;
}


.p-header_nav{
    display: flex;

}



.p-header_list{
    display: flex;
    list-style:none;
    align-items: center;


}
.p-header_text{

    padding: 16px;
    font-size: 13px;
    /* font-family: 'Arial Black',sans-serif; */
    font-family: 'Avenir Next',sans-serif;
    font-weight: 500;
}

.p-header_icon{
    width: 18px;
    height:18px;
    padding: 16px;
}

