.p-info{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    height: 800px;
    background-image: url("assets/img/deco.png");
}

/* .p-info_content{


}

.p-info_text{


}
.p-info_storeInfo{


}
.p-info_title{

}
.p-info_menu{ */

/* } */
.p-info_list{
    list-style:none;

}

.p-info_img{
    width: 420px;
    height: 260px;
}
