.mg-main{
    margin: 0 180px;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 140px;
    margin: 0 40px;
    align-items: center;
}

.header_logo{

    text-align: center;
}

.headar_title{
    font-weight: lighter;
    margin: 0 auto;
    font-family: '游明朝体+36ポかな','YuMincho +36p Kana',sans-serif;

}
.headar_subtatle{

    font-family: 'Avenir Next',sans-serif;
    font-size: 10px;
    margin: 0 auto;
}


.header_nav{
    display: flex;

}



.header_list{
    display: flex;
    list-style:none;
    align-items: center;


}
.header_text{

    padding: 16px;
    font-size: 13px;
    /* font-family: 'Arial Black',sans-serif; */
    font-family: 'Avenir Next',sans-serif;
    font-weight: 500;
    letter-spacing : 1.5px;
}

.header_icon{
    width: 18px;
    height:18px;
    padding: 16px;
}

.hero{
    display: flex;
    justify-content: space-between;

    margin: 0 40px;

}

.hero_img1{
    width: 570px;
    height: 500px;
    object-fit: cover;

}

.hero_img2{
    margin-top: 100px;
    width: 570px;
    height: 500px;
    object-fit: cover;

}

.main_container{
    display: flex;
    /* margin: 50px 50px 100px 50px; */
    margin-top: 50px;
    margin-bottom: 100px;
}

.main_title{
    padding: 0;
    margin: 0 140px 0 200px;
    writing-mode: vertical-rl;
    letter-spacing : 14px;

    font-size: 36px;
}

.main_text{
    margin-top: 80px;
    font-size: 13px;
    letter-spacing : 2px;
    line-height:1.8;
    /* font-family: 'Avenir Next',sans-serif; */
}


.info{
    padding-bottom: 50px;
    background-image: url("../../assets/img/deco.png");
    background-size: 60%;
}

.info_container{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.info_content{
    margin-top: 40px;


}

.info_text{
    font-size: 13px;
    letter-spacing : 1px;
    line-height:1.8;


}
.info_text2{
    font-size: 12px;
    letter-spacing : 1px;
    line-height:1.8;

}
.info_storeInfo{
    margin-top: 35px;


}
.info_title{

}
.info_menu{

}

.info_list{
    font-size: 12px;
    letter-spacing : 1px;
    line-height:2;

}

.info_map{
    color: black;
}

.info_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width:360px;
    height: 50px;
    border-radius: 30px;
    background-color: black;

}

.info_link{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.info_img{
    width: 420px;
    height: 260px;
}

.info_logo{
    margin-top: 100px;
}

.news{
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 50px 50px;
    background-color: #f9f8f4;
}

.news_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_title{
    font-size: 25px;
    letter-spacing: 1px;
}

.news_moreBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border: 1px solid black;

}
.news_more{
    font-size: 12px;
}
.news_menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.news_list{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height:1.5;
}
.news_day{
    letter-spacing : 1px;
    font-weight: bold

}

.news_text{
    letter-spacing : 1.5px;

}

.news_mark{
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold

}

/* about us */

.about{
    display: flex;
    justify-content: space-between;

}

.about_container{
    /* display: inline-block; */
    position: relative;
    width: 2400px;
    height: 500px;
    margin-right: 60px;
    /* background-color: aquamarine; */
}



.about_img1{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

    width: 250px;
    height: 200px;

}

.about_img2{
    /* display: block; */
    position: absolute;
    top: 45%;
    left:6%;
    object-fit: cover;

    width: 220px;
    height: 250px;
}

.about_logo2{

}


.about_img3{
    position: absolute;
    top: 10%;
    right: 0;
    object-fit: cover;

    width: 230px;
    height: 280px;
}

.about_profile{

}

.about_title{
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 50px;

}

.about_subTitle{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: bold;
    letter-spacing : 5px;
    line-height:1.8;

}
.about_text{
    font-size: 13px;
    letter-spacing : 1.5px;
    line-height:2;
}

.about_box{
    margin: 50px 0 0 auto;
    width: 100px;
    height: 23px;
    border-bottom: 1px solid black;

}
.about_more{
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    letter-spacing : 1px;
    /* line-height:2; */
}


/* report */

.report{
    margin-top: 100px;
    background-color: #f9f8f4;
}

.report_title{
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 50px;
    line-height: 0;
}


.report_content{
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.report_subTitle{
    font-size: 23px;
    font-weight: bold;
    letter-spacing : 6px;
    line-height:1.8;

}

.report_text{
    margin-left: 30px;
    font-size: 13px;
    letter-spacing : 1.5px;
    line-height:2;
}



.report_moreBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 120px;
    height: 30px;
    border: 1px solid black;

}
.report_more{
    font-size: 12px;
}

.report_post{
    display: flex;
    flex-wrap: wrap;

}

.report_item{
    
}
.report_img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    
}
.report_tag{
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
}
.report_ttl{
    font-size: 18px;
    font-weight: bold;
    letter-spacing : 1.5px;
    line-height:2;
}
.report_day{
    font-size: 13px;
    letter-spacing : 1.5px;
    line-height:2;
}
